.displaynone {
	display: none;
}

tbody .dt-center, thead .dt-center{
	text-align: center;
}

.nopointerevent{
	pointer-events: none;
}


div.form-group{
	margin-bottom: -.1em;
}
input.input-factor{
	text-align: right
}